@page "/Bosses"
<h3>Bosses</h3>
@if (Error != null)
{
    <h3>@Error.Message</h3>
}

@AllBosses.Count
<MudContainer>
    @foreach (var boss in AllBosses)
    {
        <MudCard Outlined="true" Class="m-1">
            <MudCardContent>
                <MudText>@boss.Name</MudText>
            </MudCardContent>
        </MudCard>
    }
</MudContainer>



